[submodule "_ref/Morpheus-STM32"]
	path = _ref/Morpheus-STM32
	url = https://github.com/pscrespo/Morpheus-STM32.git
[submodule "_ref/heteromycin"]
	path = _ref/heteromycin
	url = https://github.com/hasenbanck/heteromycin.git
[submodule "_ref/RUMBA-Plus"]
	path = _ref/RUMBA-Plus
	url = https://github.com/Aus3D/RUMBA-Plus.git
[submodule "_ref/STMPS"]
	path = _ref/STMPS
	url = https://github.com/tetious/STMPS
[submodule "_ref/ramps-1.6"]
	path = _ref/ramps-1.6
	url = https://github.com/bigtreetech/ramps-1.6.git
[submodule "_ref/altium2kicad"]
	path = _ref/altium2kicad
	url = https://github.com/thesourcerer8/altium2kicad.git
[submodule "software/_ref/klipper"]
	path = software/_ref/klipper
	url = git@github.com:KevinOConnor/klipper.git
[submodule "hardware/_ref/RAMPS_1.7"]
	path = hardware/_ref/RAMPS_1.7
	url = git@github.com:MrAlvin/RAMPS_1.7.git
[submodule "software/_ref/kicadScripts"]
	path = software/_ref/kicadScripts
	url = https://github.com/gregdavill/kicadScripts
