# This file serves as documentation for config parameters. One may
# copy and edit this file to configure a new cartesian style
# printer. For delta style printers, see the "example-delta.cfg"
# file. For corexy/h-bot style printers, see the "example-corexy.cfg"
# file. Only common config sections are described here - see the
# "example-extras.cfg" file for configuring less common devices.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.

# A note on pin names: pins may be configured with a hardware name
# (such as "PA4") or with an Arduino alias name (such as "ar29" or
# "analog3"). In order to use Arduino names, the pin_map variable in
# the mcu section must be present and have a value of "arduino". Pin
# names may be preceded by an '!' to indicate that a reverse polarity
# should be used (eg, trigger on low instead of high). Input pins may
# be preceded by a '^' to indicate that a hardware pull-up resistor
# should be enabled for the pin. If the micro-controller supports
# pull-down resistors then an input pin may alternatively be preceded
# by a '~'.

# Micro-controller information.
[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
restart_method: command


# The printer section controls high level printer settings.
[printer]
kinematics: cartesian
#   This option must be "cartesian" for cartesian printers.
max_velocity: 500
#   Maximum velocity (in mm/s) of the toolhead (relative to the
#   print). This parameter must be specified.
max_accel: 3000
#   Maximum acceleration (in mm/s^2) of the toolhead (relative to the
#   print). This parameter must be specified.
#max_accel_to_decel:
#   A pseudo acceleration (in mm/s^2) controlling how fast the
#   toolhead may go from acceleration to deceleration. It is used to
#   reduce the top speed of short zig-zag moves (and thus reduce
#   printer vibration from these moves). The default is half of
#   max_accel.
max_z_velocity: 25
#   For cartesian printers this sets the maximum velocity (in mm/s) of
#   movement along the z axis. This setting can be used to restrict
#   the maximum speed of the z stepper motor on cartesian
#   printers. The default is to use max_velocity for max_z_velocity.
max_z_accel: 30
#   For cartesian printers this sets the maximum acceleration (in
#   mm/s^2) of movement along the z axis. It limits the acceleration
#   of the z stepper motor on cartesian printers. The default is to
#   use max_accel for max_z_accel.
#square_corner_velocity: 5.0
#   The maximum velocity (in mm/s) that the toolhead may travel a 90
#   degree corner at. A non-zero value can reduce changes in extruder
#   flow rates by enabling instantaneous velocity changes of the
#   toolhead during cornering. This value configures the internal
#   centripetal velocity cornering algorithm; corners with angles
#   larger than 90 degrees will have a higher cornering velocity while
#   corners with angles less than 90 degrees will have a lower
#   cornering velocity. If this is set to zero then the toolhead will
#   decelerate to zero at each corner. The default is 5mm/s.

[stepper_x]
# B Stepper
step_pin: PE14
dir_pin: PE13
enable_pin: PE15
#   X on mcu_xye
step_distance: 0.0125
#   80 steps per mm - 1.8 deg - 1/16 microstepping
endstop_pin: PD13
#   X_MAX on mcu_xye
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 100
homing_retract_dist: 5

[stepper_y]
# A Stepper
step_pin: PE11
dir_pin: PE10
enable_pin: PE12
#   Y on mcu_xye
step_distance: 0.0125
#   80 steps per mm - 1.8 deg - 1/16 microstepping
endstop_pin: PE11
#   Y_MAX on mcu_xye
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 100
homing_retract_dist: 5

[stepper_z]
# Z0 Stepper - Front Left
step_pin: PC4
dir_pin: PC1
enable_pin: PC2
#   X on mcu_z
step_distance: 0.00250
#   400 steps per mm - 1.8 deg - 1/16 microstepping
endstop_pin: PC3
#   Z_MIN on mcu_z
position_endstop: -0.2
#   Offset (in mm) for nozzle to bed off z switch
position_max: 250
position_min: -2
#   Set to -2 to allow room for squaring gantry with quad_gantry_level
homing_speed: 15.0
second_homing_speed: 3.0
homing_retract_dist: 3.0

[stepper_z1]
# Z1 Stepper - Rear Left
step_pin: PC1
dir_pin: PC0
enable_pin: PC2
#   Y on mcu_z
step_distance: 0.00250
#   400 steps per mm - 1.8 deg - 1/16 microstepping

[stepper_z2]
# Z2 Stepper - Rear Right
step_pin: PC14
dir_pin: PC15
enable_pin: PC13
#   Z on mcu_z
step_distance: 0.00250
#   400 steps per mm - 1.8 deg - 1/16 microstepping

[stepper_z3]
# Z3 Stepper - Front Right
step_pin: PC3
dir_pin: PC4
enable_pin: PC2
#   E0 on mcu_z
step_distance: 0.00250
#   400 steps per mm - 1.8 deg - 1/16 microstepping

[extruder]
step_pin: PD7
dir_pin: PB3
enable_pin: PD6
#   E0 on mcu_xye
step_distance: 0.00180180
#   555 steps per mm - 1.8 deg - 1/16 microstepping (Mobius2)
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 780.0
#   This is set high to allow the load/unload filament macros to run
heater_pin: PD15
#   D10 on mcu_xye
max_power: 1.0
sensor_type: NTC 100K beta 3950
sensor_pin: PA1
#   T0 on mcu_xye
smooth_time: 3.0
control: pid
pid_Kp: 16.430
pid_Ki: 0.755
pid_Kd: 89.337
min_extrude_temp: 170
min_temp: 0
max_temp: 270

[probe]
# Inductive Probe
pin: PB5
#   Z_MAX on mcu_z
x_offset: 0.0
y_offset: 25.0
z_offset: 0.00
speed: 2.0

[fan]
# Print cooling fan
pin: PA7
#   D9 on mcu_xye
kick_start_time: 0.500

[heater_fan hotend_fan]
# Hotend fan
pin: PA6
#   D9 on mcu_z
kick_start_time: 0.500
heater: extruder
heater_temp: 50.0

[heater_fan controller_fan]
# Controller fan
pin: PA8
#   D10 on mcu_z
kick_start_time: 0.500
heater: heater_bed
heater_temp: 45.0

[display]
# RepRapDiscount 128x64 Full Graphic Smart Controller
lcd_type: st7920
cs_pin: PA15
sclk_pin: PC10
sid_pin: PC11
#   LCD connector on mcu_z
menu_timeout: 40
encoder_pins: ^PC12, ^PD0
click_pin: ^!PD1
kill_pin: ^!PD2


[heater_bed]
heater_pin: PD15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
control: watermark
min_temp: -110
max_temp: 110
